extends layout

block content
  script(type='text/javascript').
    var csvData = !{JSON.stringify(csv)};
  body(onload="draw(csvData);")
    canvas(width='600' height='600')#ant-canvas
    p= csv
    script(type='text/javascript', src='/javascripts/canvas-helper.js')
